head
	title= lpfinancas
	style.
		:root
		{
		    --verdeL: #1CAD6E;
		    --azulL: #3F90AF;
		}

		html
		{
		    background-color: #a6bdd4;
		}

		*
		{
		    margin: 0;
		    padding: 0;
		    box-sizing: border-box;

		}

		body
		{
		    height: 100vh;
		}

		header
		{
		    border: 1px solid black;
		    text-align: center;
		    background-color: var(--verdeL);
		}
		main
		{
		    border: 1px solid black;
		    height: 90%;
		}

		form
		{
		    background-color: var(--verdeL);
		    display: flex;
		    flex-direction: column;
		    max-width: 30em;
		    margin: 0 auto;
		    padding: 1rem;
		}

		a
		{
		    text-align: center;
		    text-decoration: none;
		    display: block;
		}

		footer
		{
		    border: 1px solid black;
		    text-align: center;
		    background-color: var(--verdeL);
		}
		
		table
		{
			background-color: #ffffff;
			border: 1px solid black;
		}

		table th,
		table td
		{
			border: 1px solid black;
		}

		#painel
		{
			max-width: 40em;
			margin: 0 auto;
			background-color: #ffffff;
			padding: 1rem;
			border: 1px solid black;
		}

		#painel li
		{
			list-style: none;
		}

		.centralizar
		{
		    max-width: 30em;
		    margin: 0 auto;
		    padding: 1rem;
		}

