doctype html
html( lang='pt-br' )
	include head.pug
	body
		header
			h1 RENDERIZADOR DE PÁGINAS HTML PUG
		main
			h2 #{template}
			p.
				Leia a documentação do pug
				caso teu servidor web deva
				renderizar páginas web.

		footer
			a( href=`https://pugjs.org/api/getting-started.html` ) documentação pug
			small  PUG
